.DS_Store
/vegastrike*/build
/engine*/build
/engine*/build/build-sh_config-cache
/engine*/build-*/build-sh_config-cache

/tmp
**/.svn
**/.git
**/CVSROOT
**/*.sw?
**/*~
**/.\#*
**/*.pyc

/logs/log
/build

/deps*/**/*.tar.[gx]z
/deps*/**/*.tar.bz2
/deps*/**/*.tbz2
/deps*/**/*.t[gx]z
/deps*/build

/tools/macos_bundle/checkModifierKeys/*.o
/tools/macos_bundle/checkModifierKeys/checkKeys
/tools/macos_bundle/checkModifierKeys/checkModifierKeys

/tools/hardshortcut/*.o
/tools/hardshortcut/hardshortcut
/tools/hardshortcut/*.res
/tools/hardshortcut/Resources.rc

/vegastrike*/INSTALL
/vegastrike*/configure
/vegastrike*/compile
/vegastrike*/SystemInformation.in
/vegastrike*/aclocal.m4
/vegastrike*/boost_patched_gcc44
/vegastrike*/autom4te.cache
/vegastrike*/config.guess
/vegastrike*/config.sub
/vegastrike*/depcomp
/vegastrike*/install-sh
/vegastrike*/missing

/engine*/INSTALL
/engine*/INSTALL
/engine*/configure
/engine*/compile
/engine*/SystemInformation.in
/engine*/aclocal.m4
/engine*/boost_patched_gcc44
/engine*/autom4te.cache
/engine*/config.guess
/engine*/config.sub
/engine*/depcomp
/engine*/install-sh
/engine*/missing

/eclipse/.metadata/
#/eclipse/.metadata/.*.log
#/eclipse/.metadata/.plugins/org.eclipse.cdt.core/*.pdom
#/eclipse/.metadata/.plugins/com.python.pydev.analysis
#/eclipse/.metadata/.plugins/org.python.pydev/*/modulesKeys
#/eclipse/.metadata/.plugins/org.eclipse.cdt.ui/*.log
#/eclipse/.metadata/.plugins/org.eclipse.core.resources/.history
#/eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/*/.indexes
#/eclipse/.metadata/.plugins/org.python.pydev/*/shell

